typer
fastapi==0.115.7
uvicorn[standard]==0.34.0
pydantic==2.10.6
sqlalchemy==2.0.38
alembic==1.14.0
peewee==3.17.9
peewee-migrate==1.12.2
psycopg2-binary==2.9.9
pgvector==0.4.0
PyMySQL==1.1.1
bcrypt==4.3.0
pymongo
redis
boto3==1.35.53
argon2-cffi==23.1.0
APScheduler==3.10.4
RestrictedPython==8.0
loguru==0.7.2
asgiref==3.8.1
openai
anthropic
google-generativeai==0.8.4
tiktoken
langchain==0.3.19
langchain-community==0.3.18
fake-useragent==2.1.0
chromadb==0.6.3
pymilvus==2.5.0
qdrant-client~=1.12.0
opensearch-py==2.8.0
playwright==1.49.1
elasticsearch==8.17.1
transformers
sentence-transformers==3.3.1
accelerate
colbert-ai==0.2.21
einops==0.8.1
ftfy==6.2.3
pypdf==4.3.1
fpdf2==2.8.2
pymdown-extensions==10.14.2
docx2txt==0.8
python-pptx==0.6.23
python-docx==1.1.0
python-multipart==0.0.9
aiofiles
aiocache
